body {
    background: #050816;
    color: white;
    text-align: center;
    font-family: Arial;
    padding-top: 100px;
}

h1 {
    color: #f2d27d;
}

button {
    background: #5a3ea8;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
}
